# 02.01 - BASIC STRUCTURES

In [1]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/rramosp/ai4eng.v1/main/content/init.py
import init; init.init(force_download=False); init.get_weblink()

replicating local resources

## Introduction to Python

Python is **interpreted** and **dynamically typed**. Observe in the following lines:

- variables `a` and `b` have specific data types even if they are not explicitly defined.
- python guesses their types by how they are being used (`\\` is integer division, while `\` is floating point division) 
- python keeps executing stuff while no error is found $\rightarrow$ python is interpreted

In [2]:
a = 4
print (a, type(a))

4 <class 'int'>

In [3]:
b = 9.
print (a, type(b))

4 <class 'float'>

In [4]:
c = 9/4
print (c, type(c))

2.25 <class 'float'>

In [5]:
d = 9//4
print (d, type(d))

2 <class 'int'>

but types can be enforced, or used for data conversion

In [6]:
a = 1
b = float(a)
print (a, "::", b)

1 :: 1.0

In [7]:
s = "el valor de 'a' es "+str(a)
print (s)

el valor de 'a' es 1

## Notebook cell outputs

In [8]:
a = 1
b = float(a)
a,b

(1, 1.0)

In [9]:
a = 1
a
b = float(a)
b

1.0

In [10]:
a = 1
print (a)
b = float(a)
b

1

1.0

## Lists

ordered sequences of objects of **any** kind with cool indexing.

indexing **starts at zero**.

In [11]:
b = [1,10, 20.5, "hola", 10., 12, 13, 14., 15,16, 17., 18, 19, 20.]

In [12]:
print (len(b))

14

In [13]:
# imprime del 0 a 3
print (b[:3])

[1, 10, 20.5]

In [14]:
# imprime de 3 en adelante
print (b[3:])

['hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0]

In [15]:
# imprime ultimos 3
print (b[-3:])

[18, 19, 20.0]

In [16]:
print (b[4])

10.0

In [17]:
 # imprime del 6-11
print (b[5:10])

[12, 13, 14.0, 15, 16]

In [18]:
#quito los dos del principio y los dos del final
print(b[2:-2])

[20.5, 'hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18]

In [19]:
# desde -5 empezando por atras hasta -2 empezando por atras, el menos es un conteo regresivo
print (b[-5:-2])

[16, 17.0, 18]

In [20]:
#imprime los de dos en dos
print (b[::2])

[1, 20.5, 10.0, 13, 15, 17.0, 19]

In [21]:
#pone la lista al contrario
print (b[::-1])

[20.0, 19, 18, 17.0, 16, 15, 14.0, 13, 12, 10.0, 'hola', 20.5, 10, 1]

In [22]:
b.append('elfin')
b

[1, 10, 20.5, 'hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0, 'elfin']

can use variables as indexes

In [23]:
import numpy as np
i = np.random.randint(len(b))
print (i, '-->', b[i])

0 --> 1

truly **any** object

In [24]:
a = 32
b = 10
s = [1,2,3,"hola", [10, "nunca", 90], a==b, -32]

In [25]:
print (s)

[1, 2, 3, 'hola', [10, 'nunca', 90], False, -32]

In [26]:
print (len(s))

7

In [27]:
s[4]

[10, 'nunca', 90]

In [28]:
s[4][1]

'nunca'

In [29]:
s[3][1]

'o'

**some list operations**

In [30]:
a = ["hola", 2, "adios"]
b = [-10., 1, [3, 4]]

In [31]:
a + b

['hola', 2, 'adios', -10.0, 1, [3, 4]]

In [32]:
a + a

['hola', 2, 'adios', 'hola', 2, 'adios']

In [33]:
a*2

['hola', 2, 'adios', 'hola', 2, 'adios']

In [34]:
2 in a

True

In [35]:
"hola" not in b

True

In [36]:
[3,4] in b

True

## Strings

a string is like a special kind of list

In [37]:
a = "en un lugar de la mancha"
a

'en un lugar de la mancha'

In [38]:
a[3:]

'un lugar de la mancha'

In [39]:
a[-10:]

' la mancha'

In [40]:
a[::-1]

'ahcnam al ed ragul nu ne'

In [41]:
a[::2]

'e nlgrd amnh'

In [42]:
'lugar' in a

True

with special operations

In [43]:
words = a.split()
words

['en', 'un', 'lugar', 'de', 'la', 'mancha']

In [44]:
"::".join(words)

'en::un::lugar::de::la::mancha'

In [45]:
a.upper()

'EN UN LUGAR DE LA MANCHA'

In [46]:
a.startswith("en")

True

In [47]:
a.endswith("lugar")

False

In [48]:
a.find('lugar')

6

In [49]:
a[a.find('lugar'):]

'lugar de la mancha'

## `for` loops

unlike other languages, `for` loops are defined over **iterables**. A `list` is an iterable, and there are many other iterables.

Python syntax is **indented**.

Observe python determines the semantics of `*` according to the context

In [50]:
b = [1,10, 20.5, "hola", 10.]

In [51]:
for i in b:
    print (i, "-->", type(i), "x2 -->", i*2)

1 --> <class 'int'> x2 --> 2
10 --> <class 'int'> x2 --> 20
20.5 --> <class 'float'> x2 --> 41.0
hola --> <class 'str'> x2 --> holahola
10.0 --> <class 'float'> x2 --> 20.0

another example of python as interpreted language

In [52]:
b = [1,10, 20.5, "hola", 10.]
for i in b:
    print (i, "-->", type(i), "x2 -->", i**2)

1 --> <class 'int'> x2 --> 1
10 --> <class 'int'> x2 --> 100
20.5 --> <class 'float'> x2 --> 420.25

TypeError: ignored

**iterators**

sometimes we do not need to hold all the contents of a list in memory, but they can be generated as they are being asked for.

In [53]:
k = range(-3,10,2)
k

range(-3, 10, 2)

size in memory

In [54]:
k.__sizeof__()

48

In [55]:
for i in k:
    print (i, end=", ")

-3, -1, 1, 3, 5, 7, 9,

In [60]:
big_range = range(0,100000,2)
big_range.__sizeof__()

48

In [61]:
s = 0
for i in big_range:
    s += i
s

2499950000

if converted to a list, then they are physically in memory

In [62]:
a = list(big_range)
a.__sizeof__()

450088

zip iterators

In [64]:
# zip itera de manera simultanea
a = ["nada", "adios", 10.]
b = [1,10, 20.5, "hola", 10.]

for i,j in zip(a,b):
    print (i,j)

nada 1
adios 10
10.0 20.5

enumerate sirve para traer el indice

In [65]:
for indx,elem in enumerate(a):
  print("the index",indx, "has the element",elem)

the index 0 has the element nada
the index 1 has the element adios
the index 2 has the element 10.0

## Other control structures

string formatting / if / then / break / continue / while, etc.

In [66]:
# si encuentra el hola para el bucle
b = [1,10, 20.5, "hola", 10., 12]
for i in b:
    if i=='hola':
        break
    print (i, type(i))

1 <class 'int'>
10 <class 'int'>
20.5 <class 'float'>

In [67]:
b = [1,10, 20.5, "hola", 10., 12]
for i in b:
    if i=='hola':
        break
    elif type(i)==int:
        print ("INT", end=" ")
    elif i>10:
        print (">10", end=" ")
    print (i, type(i))

INT 1 <class 'int'>
INT 10 <class 'int'>
>10 20.5 <class 'float'>

In [68]:
#continua con continue pero con unas codiciones
for i in b:
    if i=='hola':
        continue
    elif type(i)==int:
        print ("INT", end=" ")
    elif i>10:
        print (">10", end=" ")
    else:
        print ("UNK", end=" ")
    print (i, type(i))

INT 1 <class 'int'>
INT 10 <class 'int'>
>10 20.5 <class 'float'>
UNK 10.0 <class 'float'>
INT 12 <class 'int'>

In [69]:
for pos, i in enumerate(b):
    if i=='hola':
        continue
    print ("%02d :: %5.1f :: %20s"%(pos,i,type(i)))

00 ::   1.0 ::        <class 'int'>
01 ::  10.0 ::        <class 'int'>
02 ::  20.5 ::      <class 'float'>
04 ::  10.0 ::      <class 'float'>
05 ::  12.0 ::        <class 'int'>

In [70]:
i=1
while i<len(b):
    print (i, b[i], type(b[i]))
    i += 1

1 10 <class 'int'>
2 20.5 <class 'float'>
3 hola <class 'str'>
4 10.0 <class 'float'>
5 12 <class 'int'>

## Dictionaries

In [71]:
d = {"i1": 16, "nombre": "haskel", "edad": 32, 20: "el numero 20"}

d['i1']

16

In [76]:
d[20],d['nombre']

('el numero 20', 'haskel')

In [77]:
#values son los valores del key
d.values()

dict_values([16, 'haskel', 32, 'el numero 20'])

In [78]:
 #keys lo que esta antes en el diccionario
d.keys()

dict_keys(['i1', 'nombre', 'edad', 20])

In [79]:
for i in d.keys():
    print("la clave", i, "tiene el valor", d[i])

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20

In [80]:
for k,v in d.items():
    print("la clave", k, "tiene el valor", v)

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20

and can be updated

In [81]:
d[48] = "otro numero"
d["nada"] = 0

In [82]:
d

{20: 'el numero 20',
 48: 'otro numero',
 'edad': 32,
 'i1': 16,
 'nada': 0,
 'nombre': 'haskel'}

In [83]:
for k,v in d.items():
    print("la clave", k, "tiene el valor", v)

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20
la clave 48 tiene el valor otro numero
la clave nada tiene el valor 0

## Tuples

tuples are **inmutable** lists, inmutable means that it can not be modified once declared with the brackets (). Sometimes the tuples are faster than lists

In [84]:
a = (10,3,4,5)

In [87]:
a[3], a[::-1], sum(a)

(5, (5, 4, 3, 10), 22)

In [91]:
a[3]=1

TypeError: ignored

and thus can be used for keys, indexing, etc.

In [92]:
d = {}
d["hola"] = 3
d[1] = "one"
d[(4,5)] = "a tuple"
d

{(4, 5): 'a tuple', 1: 'one', 'hola': 3}

however